/*============ ELEMENT SELECTORS =============*/
body{
     margin: 0;
     text-align: center;
}

h1, p {
     margin: 0;
     color: #f6f7d7;
}

/*=============== CLASS SELECTORS ==============*/
/* https://colorhunt.co/palette/14114 */

.bottom-container{
     background-color: #ff165d;
     height: 200px;
     width: 200px;
}

.middle-container{
     background-color: #ff9a00;
     height: 200px;
     width: 200px;
}

.profilePic{
     border-radius: 50%;
     display: inline-block;
     position: absolute;
}

.topContainer{
     background-color: #3ec1d3;
     position: relative;
     padding-top: 100px;
}

.topCloud{
     position: absolute;
     right: 25%;
     top: 50px;
}

.bottomCloud{
     position: absolute;
     top: 40%;
     left: 25%;
     bottom: 300px;
}
